footer{

  
    padding-top:3%;
    padding-bottom:3%;
  
  
    overflow:auto; 
    /* margin-top: 28%; */
    /* height:150px */
    


    }

footer a, small{

        color:white;
      
    }
a{
    
}




