<footer id="sticky-footer" class= "bg-dark">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <a href="#"><i class="fa fa-facebook-official"></i>&nbsp;Contact us on Facebook</a><br>
        <a href="#"> <i class="fa fa-instagram"></i>&nbsp;Follow us on Instragram</a>
      </div>
  
  
  
      <div class="col-lg-3 col-md-12">
  
  
        <a routerLink="/"><i class="fa fa-home"></i> &nbsp;Go to Home Page</a><br>
        <a href="#"><i class="fa fa-question" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Help and support</a><br>
        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;Contact Us</a>
  
  
      </div>
  
      <div class="col-lg-3 col-md-12">
        <small style="float:right;padding-top:10%"><a>Copyright&copy; . &nbsp;All rights reserved</a><br>
        </small>
      </div>
  
    </div>

   
  </div>


</footer>