<div>
   <div class="container-fluid " style="height: 35px;background-color: #3b5998;padding-top:5px">
        <div class="row">
            <a class="rightbar col-md-6">Home</a>
            
            <div class=" leftbar col-md-6">
                <a class="leftbarItem">Categories <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                <a class="leftbarItem">Location <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                <a class="leftbarItem col-md-4" routerLink="/inbox">Inbox</a>


            </div>

        </div>
    </div>
</div>


<!-- social media sidebar -->

<div class="icon-bar">
  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
  <a href="#" class="google"><i class="fa fa-google"></i></a>
  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
</div>


<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://qph.fs.quoracdn.net/main-qimg-45517ccc1e26900b4c15acfb899e53b2" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Find solution to your problem</h1>
        <p>If you have an account, login and get our services. Dont have account yet?</p>
        <a class="btn btn-primary" routerLink="/signup">Get started</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Advertisement 1</h2>
            <p class="card-text">My bathroom is broken. Location- Melbourne</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Advertisement 2</h2>
            <p class="card-text">My kitchen tap is broken.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Advertisement 3</h2>
            <p class="card-text">Need to fix my backyard tap.Need to fix my backyard tap.Need to fix my backyard tap.Need to fix my backyard tap.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>