
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0"></h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control rounder-0" name="username" required [(ngModel)]="loginUserData.email">
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control rounder-0" name="password" required [(ngModel)]="loginUserData.password">
                    </div>

                    <button class="btn btn-success" style="float:right" (click)="login()">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
