<div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a routerLink="/"><img src="../../assets/images/logo.jpg" class="logo-img"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav " style="padding-left: 55%;">

            <form class="form-inline">
                <input class=" form-control " type="search" placeholder="Type something">
                <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"
                        aria-hidden="true"></i></button>
            </form>
        </ul>

        <div class="login-signup navbar-collapse collapse" id="navbarSupportedContent">
            <button class="btn btn-dark btn-md" routerLink="/login">Login</button>
            <button class="btn btn-primary btn-md" routerLink="/signup">Sign Up</button>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>